<!-- views/mytestView.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Example title</title>
</head>

<body id="home">
	<h1><b>Please enter a valid postcode</b></h1>
	
</body>
</html>