<!-- views/mytestView.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <title>Example title</title>
    <style>
        body { background-color: rgb(239, 240, 232); 
		
		}
        h1{
            color: darkred;
            text-decoration: underline ;
			text-align: center;
			margin: 50px 60px;
		}
    </style>
</head>

<body id="home">
	<h1><b>Please enter a valid postcode!!!</b></h1>
	
</body>
</html>