<!-- views/mytestView.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Example title</title>
	<style>
        body { background-color: rgb(46, 199, 199); 
		
		}
        ul {font: 18px Arial, sans-serif;
			color: rgb(17, 5, 5);
			line-height: 20px;
			line-break:normal
			 }
		h1{
			text-align: center;
			margin: 50px 60px;
		}
    </style>
</head>

<body id="home">
	<h1>Bus departures near the location  <%= postcode %>   </h1>
	<ul>
		<%
			data.forEach((bus) => { %>
			<li><b><%= bus.showBusdata() %></b></li>
		<% });
		%>
	</ul>
</body>
</html>