<!-- views/mytestView.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Example title</title>
	<style>
        body { background-color: rgb(46, 199, 199); 
		
		}
        p { color: #fff; }
		h1{
			text-align: center;
		}
    </style>
</head>

<body id="home">
	<h1>Bus departures near the location  <%=postcode %>   </h1>
	<ul>
		<%
			data.forEach((bus) => { %>
			<li><b><%= bus.printBusData() %></b></li>
		<% });
		%>
	</ul>
</body>
</html>