<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>No Buses</title>
    <style>
        body { background-color: rgb(55, 176, 206); 
		
		}
        h1{
            color: rgb(5, 3, 31);
            text-align: center;
			margin: 50px 60px;
		}
    </style>
</head>
<body>
    <h1>No upcoming bus departures near the location <%=postcode  %>  </h1>
</body>
</html>